/**
 * My Admin Menu Color Black.
 *
 * Implementation of Sons of Suckerfish Dropdowns.
 * @see www.htmldog.com/articles/suckerfish
 **/
.myadmin-menu{margin-top:25px;}
.mymenu-sky .myadmin-menu-home a{
    background-image: url("");
    border-radius: 10px 10px 10px 10px;
    margin: 2px -3px 0 2px;
    padding: 2px 5px;
}
.myadmin-menu-home a span{
    background: url("images/icon-home.png") no-repeat scroll center center transparent;
    display: block;
    height: 15px;
    text-indent: -9999px;
    width: 16px;
}
.myadmin-menu-logout{
	float:right; 
	color:#fff; 
	line-height:22px;
	padding-right:10px;	
	height:25px;
}
.myadmin-menu-logout a, .myadmin-menu-logout a:link, .myadmin-menu-logout a:visited{ 
color:#FFFFFF;font-size: 12px;
text-decoration:none;
}
.myadmin-menu-logout a:hover{color:#FFFFFF;font-size: 12px;text-decoration: underline;}
 
.mymenu-black { position: absolute; top: 0px; left: 0px; font-size: 12px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; background: url(images/bkg.png) bottom left repeat-x #101010; width: 100%; text-align: left; }
.mymenu-black li.admin-menu-icon a { padding: 1px 8px 4px; }
.mymenu-black li.admin-menu-icon ul a { padding: 4px 8px; }
.mymenu-black li.admin-menu-icon img { vertical-align: bottom; }
.mymenu-black li.admin-menu-users img { margin-top: 1px; }
.mymenu-black li.admin-menu-action { float: right; }
.mymenu-black li.admin-menu-action a { border-left: 1px solid #323232; border-right: none; }
body.admin-menu { margin-top: 20px !important; }
.mymenu-black a{font-size: 12px;font-family:arial, tahoma, verdana, sans-serif;}

/* all lists */
.mymenu-black , .mymenu-black ul { padding: 0; margin: 0; list-style: none; line-height: 1.4em; z-index: 9999; }
.mymenu-black ul { position: static; }
.mymenu-black ul a { display: block; border-right: 1px solid #323232; border-bottom: none; padding: 4px 8px; font-weight: normal; color: #eee; text-decoration: none; text-align: left; }
.mymenu-black ul li.admin-menu-tab a { border-right: 1px solid #52565e; }
.mymenu-black li li a { border-right: none; border-top: 1px solid #323232; }

/* all list items */
/* width needed or else Opera goes nuts */
.mymenu-black li { float: left; height: 100%; margin: 0 !important; padding: 0; list-style-image: none; list-style-type: none; background-image: none; }
.mymenu-black li.admin-menu-tab { padding-bottom: 1px; background: url(images/bkg_tab.png) repeat-x left bottom; }
.mymenu-black li li { width: 165px; background: #202020; filter:Alpha(opacity=95); opacity: 0.95; }

/* second-level lists */
/* Note: Use left instead of display to hide publicly visible menus because display: none isn't read by screen readers */
.mymenu-black li ul { position: absolute; background: none; margin: 0; width: 165px; left: -999em; display: none; line-height: 1.2em; }

/* third-and-above-level lists */
.mymenu-black li li.expandable ul { margin: -20px 0 0 165px; }

.mymenu-black li:hover ul ul,
.mymenu-black li:hover ul ul ul,
.mymenu-black li:hover ul ul ul ul,
.mymenu-black li:hover ul ul ul ul ul,
.mymenu-black li.iehover ul ul,
.mymenu-black li.iehover ul ul ul,
.mymenu-black li.iehover ul ul ul ul,
.mymenu-black li.iehover ul ul ul ul ul {
  left: -999em;
  display: none;
}

/* lists nested under hovered list items */
.mymenu-black li:hover ul,
.mymenu-black li li:hover ul,
.mymenu-black li li li:hover ul,
.mymenu-black li li li li:hover ul,
.mymenu-black li li li li li:hover ul,
.mymenu-black li.iehover ul,
.mymenu-black li li.iehover ul,
.mymenu-black li li li.iehover ul,
.mymenu-black li li li li.iehover ul,
.mymenu-black li li li li li.iehover ul {
  left: auto;
  display: block;
}
.mymenu-black li.admin-menu-action:hover ul {
  right: 0;
}
/*
 background: none repeat scroll 0 0 #202020;
    opacity: 0.95;
    width: 160px;

*/
/* second-and-more-level hovering */
.mymenu-black li li.expandable { background: #202020 url(images/arrow.png) no-repeat 150px 7px; }
.mymenu-black li li:hover,
.mymenu-black li li.iehover {
  background-color: #111;
}
.mymenu-black li li:hover a,
.mymenu-black li li:hover li:hover a,
.mymenu-black li li:hover li:hover li:hover a {
  color: #fff;
}
.mymenu-black li li.expandable:hover a,
.mymenu-black li li.expandable:hover li.expandable:hover a {
  border-color: #666666; color: #eee;
}
.mymenu-black li li.expandable:hover li a,
.mymenu-black li li.expandable:hover li.expandable:hover li a {
  border-color: #323232;
}
.mymenu-black li li:hover li a,
.mymenu-black li li.iehover li a,
.mymenu-black li li.iehover li.iehover li a {
  color: #eee;
}
.mymenu-black li li.iehover a,
.mymenu-black li li.iehover li.iehover a,
.mymenu-black li li.iehover li.iehover li.iehover a {
  color: #fff; width: 90%; /* IE */
}

/* #210615: Mozilla on Mac fix */
html.js fieldset.collapsible div.fieldset-wrapper { overflow: visible; }

@media print {
  .mymenu-black { display: none; }
  body.myadmin-black { margin-top: 0 !important; }
}

/**
 * My Admin Menu Color Sky.
 *
 * Implementation of Sons of Suckerfish Dropdowns.
 * @see www.htmldog.com/articles/suckerfish
 **/
.mymenu-sky { position: absolute; top: 0px; left: 0px; font-size: 12px; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; background: url(images/menu_bg.png) bottom left repeat #1b60a5; width: 100%; text-align: left; }
.mymenu-sky li.admin-menu-icon a { padding: 1px 8px 4px; }
.mymenu-sky li.admin-menu-icon ul a { padding: 4px 8px; }
.mymenu-sky li.admin-menu-icon img { vertical-align: bottom; }
.mymenu-sky li.admin-menu-users img { margin-top: 1px; }
.mymenu-sky li.admin-menu-action { float: right; }
.mymenu-sky li.admin-menu-action a { border-left: 1px solid #7f97b3; border-right: none; }
body.admin-menu { margin-top: 20px !important; }
.mymenu-sky a{font-size: 12px;font-family:arial, tahoma, verdana, sans-serif;}

/* all lists */
.mymenu-sky , .mymenu-sky ul { padding: 0; margin: 0; list-style: none; line-height: 1.4em; z-index: 9999; }
.mymenu-sky ul { position: static; }
.mymenu-sky ul a { display: block; border-right: 0px solid #7f97b3; border-bottom: none; padding: 4px 8px; font-weight: normal; color: #eee; text-decoration: none; text-align: left; 
background: url(images/menu_divider.png) center right no-repeat;
}
.mymenu-sky ul a:hover{background-color:#1c64b5;}
.mymenu-sky li li a:hover{background-color:transparent;}

.mymenu-sky ul li.admin-menu-tab a { border-right: 1px solid #52565e; }
.mymenu-sky li li a { border-right: none; border-top: 1px solid #7f97b3; background-image:url('');}

/* all list items */
/* width needed or else Opera goes nuts */
.mymenu-sky li { float: left; height: 25px; margin: 0 !important; padding: 0; list-style-image: none; list-style-type: none; background-image: none; }
.mymenu-sky li.admin-menu-tab { padding-bottom: 1px; background: url(images/bkg_tab.png) repeat-x left bottom; }
.mymenu-sky li li { width: 165px; background: #063e7d; filter:Alpha(opacity=95); opacity: 0.95; }

/* second-level lists */
/* Note: Use left instead of display to hide publicly visible menus because display: none isn't read by screen readers */
.mymenu-sky li ul { position: absolute; background: none; margin: 0; width: 165px; left: -999em; display: none; line-height: 1.2em; }

/* third-and-above-level lists */
.mymenu-sky li li.expandable ul { margin: -22px 0 0 165px; }

.mymenu-sky li:hover ul ul,
.mymenu-sky li:hover ul ul ul,
.mymenu-sky li:hover ul ul ul ul,
.mymenu-sky li:hover ul ul ul ul ul,
.mymenu-sky li.iehover ul ul,
.mymenu-sky li.iehover ul ul ul,
.mymenu-sky li.iehover ul ul ul ul,
.mymenu-sky li.iehover ul ul ul ul ul {
  left: -999em;
  display: none;
}

/* lists nested under hovered list items */
.mymenu-sky li:hover ul,
.mymenu-sky li li:hover ul,
.mymenu-sky li li li:hover ul,
.mymenu-sky li li li li:hover ul,
.mymenu-sky li li li li li:hover ul,
.mymenu-sky li.iehover ul,
.mymenu-sky li li.iehover ul,
.mymenu-sky li li li.iehover ul,
.mymenu-sky li li li li.iehover ul,
.mymenu-sky li li li li li.iehover ul {
  left: auto;
  display: block;
}
.mymenu-sky li.admin-menu-action:hover ul {  right: 0;}
/*
 background: none repeat scroll 0 0 #202020;
    opacity: 0.95;
    width: 160px;

*/
/* second-and-more-level hovering */
.mymenu-sky li li.expandable { background: #063e7d url(images/arrow.png) no-repeat 150px center; }
.mymenu-sky li li:hover,
.mymenu-sky li li.iehover {
  background-color: #1c64b5;
}
.mymenu-sky li li:hover a,
.mymenu-sky li li:hover li:hover a,
.mymenu-sky li li:hover li:hover li:hover a {
  color: #fff;
}
.mymenu-sky li li.expandable:hover a,
.mymenu-sky li li.expandable:hover li.expandable:hover a {
  border-color: #888; color: #eee;
}
.mymenu-sky li li.expandable:hover li a,
.mymenu-sky li li.expandable:hover li.expandable:hover li a {
  border-color: #7f97b3;
}
.mymenu-sky li li:hover li a,
.mymenu-sky li li.iehover li a,
.mymenu-sky li li.iehover li.iehover li a {
  color: #eee;
}
.mymenu-sky li li.iehover a,
.mymenu-sky li li.iehover li.iehover a,
.mymenu-sky li li.iehover li.iehover li.iehover a {
  color: #fff; width: 90%; /* IE */
}

/* #210615: Mozilla on Mac fix */
html.js fieldset.collapsible div.fieldset-wrapper { overflow: visible; }

@media print {
  .mymenu-sky { display: none; }
  body.mymenu-sky { margin-top: 0 !important; }
}
